* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

:root {
  --white: #fff;
  --text: #000;
  --background: #fff;
  --aws-color: #232f3f;
  --aws-color-rgb: 0, 168, 104;
  --blue: #005277;
  --ice: #f6f6f6;
  --dark-ice: #ededed;
  --red: #e22c2c;
  --yellow: #d0bf28;
  --green: #3aa845;
  --grey: #888888;
  --grey-white: #f6f6f6;
  --orange: #d78b11;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body {
  background: var(--background);
  color: var(--text);
}

body,
input,
textarea,
button {
  font-family: "Sharon Sans", "Inter", sans-serif;
  text-align: center;
}

input,
select {
  color: var(--text);
  border: 1px solid var(--grey);
  border-radius: 5px;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0.4rem;
}

::-webkit-scrollbar-track {
  background: var(--aws-color);
}

::-webkit-scrollbar-thumb {
  background: var(--blue);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--aws-color);
}
